  <div class="page-header">
    <h1>Todos <small>All</small></h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group"> 
        <li class="list-group-item" *ngFor="let todo of todos">
          <div class="checkbox">
              <span *ngIf="!todo.status" class="glyphicon glyphicon-unchecked" (click)="updateTodo(todo)" aria-hidden="true"></span>
              <span *ngIf="todo.status" class="glyphicon glyphicon-check text-primary" (click)="updateTodo(todo)" aria-hidden="true"></span>
              {{ todo.title }}
            <button (click)="deleteTodo(todo)" class="btn btn-xs btn-danger pull-right">X</button>
            <a [routerLink]="['/todos', 'id', todo.id ]"  class="btn btn-xs btn-primary pull-right">View</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <todo-summary></todo-summary>
    </div>
  </div>