  <div class="page-header">
    <h1>Todos <small>New</small></h1>
  </div>
 <form class="form-horizontal" [formGroup]="createForm" (submit)="saveTodo()" autocomplete="off" novalidate>
  <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" formControlName="title" class="form-control" [(ngModel)]="todo.title">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <textarea formControlName="description" class="form-control"  [(ngModel)]="todo.description"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" formControlName="status"  [(ngModel)]="todo.status"> Mark as done
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
      <button type="reset" class="btn btn-default">Clear</button>
    </div>
  </div>
</form>